{% extends "base.html" %}
{% block content %}
  <div class="container mt-5">
    <form method="post">
      <div class="mb-3">
        <label for="sitename" class="label-form">Sitename</label>
        <input required name="sitename" placeholder="Sitename"  class="form-control"/>
      </div>
      <div class="mb-3">
        <label for="theme" class="label-form">Theme</label>
        <select name="theme" class="form-select">
          <option {% if setting and setting.theme == "default" %} selected {% endif %}  value="default">Default</option>
          <option {% if setting and setting.theme == "elegant" %} selected {% endif %}  value="elegant">Elegant</option>
          <option {% if setting and setting.theme == "modern" %}  selected {% endif %} value="modern">Modern</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="auth" class="label-form">Auth key</label>
        <input type="password" name="authkey" placeholder="Site password" autocomplete="off" class="form-control"/>
      </div>
      <button class="btn btn-primary"> <i class="fa fa-save"></i> Save settings</button>
    </form>
  </div>
{% endblock content %}
